<div class="row">
  <div class="col-xs-12">
    <h1>Details about the selected character: </h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Aliases: {{character.aliases}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Culture: {{character.culture}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Name: {{character.name}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Born: {{character.born}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Died: {{character.died}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Titles: {{character.titles}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Father: {{character.father}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Mother: {{character.mother}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Spouse: {{character.spouse}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Allegiances: {{character.allegiances}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Books: {{character.books}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>TV Series: {{character.tvSeries}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Played by: {{character.playedBy}}</p>
  </div>
</div>

<div class="row">
  <div class="col-class-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
      [routerLink]="'/character-list'">
        Back
      </button>
    </div>
  </div>
</div>
