<div class="row">
  <div class="col-xs-12">
    <h1>Details about the selected house: </h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Name: {{house.name}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Region: {{house.region}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Coat of arms: {{house.coatOfArms}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Words: {{house.words}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Titles: {{house.titles}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Seats: {{house.seats}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Current lord: {{house.currentLord}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Heir: {{house.heir}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Overlord: {{house.overlord}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Founded: {{house.founded}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Died out: {{house.diedOut}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Sworn members: {{house.swornMembers}}</p>
  </div>
</div>

<div class="row">
  <div class="col-class-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        [routerLink]="'/house-list'">
        Back
      </button>
    </div>
  </div>
</div>

